<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- search box -->
      <p>
        <label>Search: </label>
        <input ng-model="$ctrl.query" type="text" placeholder="Search suits" title="Search"/>
      </p>

      <!-- select menu -->
      <p>
        <label>Sort by: </label>
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>
    </div>

    <div class="col-md-10">
      <!-- body content -->
      <ul class="suits">
        <li ng-repeat="suit in $ctrl.suits | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="#!/suits/{{suit.id}}" class="thumb">
            <img ng-src="{{suit.imageUrl}}" title="{{suit.name}}" />
          </a>
          <a href="#!/suits/{{suit.id}}">{{suit.name}}</a>
          <p>{{suit.snippet}}</p>
        </li>
      </ul>
    </div>
  </div>
  <p>Total number of suits: {{$ctrl.suits.length}}</p>
</div>