<figure>
  <img src="{{$ctrl.mainImageUrl}}" title="{{$ctrl.suit.name}}" class="suit" />
  <figcaption>{{$ctrl.suit.caption}}</figcaption>
</figure>

<h1>{{$ctrl.suit.name}}</h1>

<p>{{$ctrl.suit.description}}</p>

<p class="thumbnail-msg">{{$ctrl.message}}&nbsp;</p>
<ul class="suit-thumbs">
  <li ng-repeat="img in $ctrl.suit.images">
    <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" ng-mouseover="$ctrl.onMouseover(img)" title="{{$ctrl.suit.name}}" />
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability</span>
    <dl>
      <dd class="availability">{{$ctrl.suit.availability.available | checkmark}}</dd> <!-- ng-repeat="availability in $ctrl.suit.availability"-->
      <dd class="availability">{{$ctrl.suit.availability.status}}</dd>
      <dt>Ready to Ship: {{shipdate | date:'MM/dd/yyyy'}}</dt>
    </dl>
  </li>

  <li>
    <span>SKU</span>
    <dl>
      <dd>{{$ctrl.suit.sku.skuValue}}</dd>
    </dl>
  </li>

  <li>
    <span>{{$ctrl.suit.name}}</span>
    <span>Fabric</span>
    <ul>
      <li ng-repeat="fabric in $ctrl.suit.fabric">{{fabric}}</li>
    </ul>
  </li>
  <li>
    <span>Price</span>
    <dl>
      <dd>{{$ctrl.suit.price}}</dd>
    </dl>
  </li>
</ul>

<div>
  <p>return and refund policy</p>
  <p>See Customer Care page for Return / Exchange Policy</p>
</div>

<p><a href="#!/suits">Return to suit list</a></p>